* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.s1 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.s1 h2 {
		margin: 30px auto;
	}

.center{
	width: 150px;
  	margin: 40px auto;
}

@media (min-width: 320px) and (max-width: 480px) {
	#text1{
		font-size: 25px;
	}
	.s1 h2 {
		font-size: 20px;
		margin: 0px 0px;
	}
	.center{
		width: 150px;
	  	margin: 15px auto;
	}
	.radio {
		margin: 10px auto;
	}
	#typeofService {
		margin-bottom: 0px;
	}
}